@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&display=swap');


body{
    background-color: lavender;
    margin: 0;
    font-family: 'EB Garamond', serif;
}

  li {
    align-items: center;
    display: inline;
  }
  
  li a {
    background-color: #69a0d1;
    color: lavender;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: #69a0d1;
    background-color: lavender;
  }

  h1{
    font-family: 'EB Garamond', serif, bold;
    color:lavender;
  }
  figure {
    float: right;
    display: flex;
    flex-flow: column;
    padding: 5px;
    width: 300px;
    margin: auto;
}

    figure.projects {
    background-color: aliceblue;
    padding: 5px;
    width: 225px;
    margin: 20px;
    }

    figure.aboutimage {
        background-color: aliceblue;
    padding: 5px;
    width: 350px;
    margin: 20px;
    }

  figcaption{
     text-align: center;

  }
  .header {
    padding:30px;
    height: 100px;
    background-color: royalblue;
  }
  .container1 {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: 30px;
    padding: 30px;
    animation: fadeIn 3s;
    width: 795px;
    height: 300px;
    background-color: #FFFFFF;
  }
  .containerProjects {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: 30px;
    padding: 30px;
    animation: fadeIn 3s;
    width: 825;
    background-color: #FFFFFF;
}

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% {opacity: 1;}
  }