@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
body{
    background-color: lavender;
    margin: 0;
    font-family: 'EB Garamond', serif;

}
  
  li {
    display: inline;
  }
  
  li a {
    background-color: #69a0d1;
    color: lavender;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: #69a0d1;
    background-color: lavender;
  }

  h1{
    font-family: 'EB Garamond', serif, bold;
    color:lavender;
  }

  .header {
    padding:30px;
    height: 100px;
    
    background-color: royalblue;
  }
  .container1 {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border: 30px;
    padding: 30px;
    animation: fadeIn 3s;
    width: 700px;
    height: 300px;
    background-color: #FFFFFF;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% {opacity: 1;}
  }